/* styles.css */

.paper {
    box-shadow: 0px 0px 5px 0px #888;
}

.lines {
    background-image: repeating-linear-gradient(white 0px, white 24px, rgb(162, 187, 207) 25px);
}

.text {
    position: absolute;
    top: 65px;
    left: 55px;
    bottom: 10px;
    right: 10px;
    line-height: 25px;
    font-family: 'Indie Flower';
    overflow: hidden;
    outline: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: safe center;
    overflow: auto;
    margin: 0;
}

.container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items:safe;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    height: 800px;
}

nav {
    padding: 10px;
    background-color: #f8f9fa;
}

#view-prayers-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}



#prayer-carousel {
    flex: 1;
    overflow: hidden;
}

swiper-container {
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

nav button:hover {
    background-color: #0056b3;
}

.page {
    display: none;
    text-align: center;
}

.page.active {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    resize: none;;
}

form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

form button {
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    align-self: flex-start;
}

form button:hover {
    background-color: #218838;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filters input,
.filters select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.carousel {
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-inner>div {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    white-space: pre-line;
    /* 줄 바꿈을 표현하도록 */
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
}

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
}

.carousel-index {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.carousel-index span {
    /* cursor: pointer; */
    margin: 0 5px;
}

.carousel-index span:hover {
    text-decoration: underline;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: safe center;
    overflow: auto;
    z-index: 999;
}

.popup.active {
    display: flex;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    overflow: auto;
}

.popup-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.prayer-card {
    min-height: 300px;
    /* padding: 10px; */
    text-align: left;
}
.prayer-card .completed {
    /* text-decoration: line-through; */
    color: gray;
}

.prayer-head {
    color:cadetblue;
    font-size:smaller;
}

.prayer-card .buttons {
    float: right;
    display: inline-end;
}

.prayer-card .buttons button {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.prayer-card .buttons .edit {
    background-color: #ffc107;
    color: #fff;
}

.prayer-card .buttons .delete {
    background-color: #dc3545;
    color: #fff;
}

.prayer-card .buttons .toggle {
    background-color: #28a745;
    color: #fff;
}

.prayer-card .buttons button:hover {
    opacity: 0.8;
}
